<% provide(:title, "About") %>
<h1>About</h1>
<p>
Music for you is a website that recommends music to users based on user preference. The user could select a genre and the website will recommend songs for him. This website is created by Lang Song, Grinnell College.
</p>
<p>
Image sources:
</p>
<p>
Omnipotent Youth Society album cover: https://upload.wikimedia.org/wikipedia/zh/thumb/f/fd/S4614409.jpg/220px-S4614409.jpg;
</p>
<p>
Dark Side of the Moon album cover: https://miro.medium.com/max/2480/1*8FkvzbSdSJ4HNxtuZo5kLg.jpeg;
</p>
<p>
Thick as a Brick album cover: https://images-na.ssl-images-amazon.com/images/I/81lnts0CkAL._SL1300_.jpg;
</p>
<p>
Unknown Pleasure album cover: https://dangerousminds.net/content/uploads/images/made/content/uploads/images/JDUP_029384_465_441_int.jpg;
</p>
<p>
Mozart's Requiem album cover: https://exultate.org/wp-content/uploads/2014/01/Mozart-Requiem.jpg;
</p>
<p>
Powerslave album cover: https://upload.wikimedia.org/wikipedia/en/1/1c/Iron_Maiden_-_Powerslave.jpg;
</p>
<p>
Revolver album cover: https://upload.wikimedia.org/wikipedia/en/thumb/1/16/Revolver.jpg/220px-Revolver.jpg.
</p>
