<% provide(:title, "About") %>
<h1>About</h1>
<p>
  Music for you is a website that recommends music to users based on user preference. The user could select a genre and the website will recommend songs for him. This website is created by Lang Song, Grinnell College. 
</p>
