<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact Lang Song about his website through songlang@grinnell.edu. Phone number: 605-868-3629. 
</p>

<p>
  Lang Song is a fourth year double major in math and computer science at Grinnell College, This site is his work for the Software Design and Development class. He loves music, and he hopes to share some of his favorite albums with you through this website. 
</p>
