<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  If you need assistance navigating through the website, please contact the owner of this page Lang Song at songlang@grinnell.edu. Once logged in, you could also view all the users by clicking the "Users" button on top right corner. You could view your profile by selecting the "Profile" option in the dropdown memu of the "Account" button.  
</p>
